DEU_adm1.rds
elections.Rproj
Geometrie_Wahlkreise_19DBT.CPG
Geometrie_Wahlkreise_19DBT.dbf
Geometrie_Wahlkreise_19DBT.prj
Geometrie_Wahlkreise_19DBT.sbn
Geometrie_Wahlkreise_19DBT.sbx
Geometrie_Wahlkreise_19DBT.shp.xml
Geometrie_Wahlkreise_19DBT.shx
Geometrie_Wahlkreise_19DBT_VG250.dbf
Geometrie_Wahlkreise_19DBT_VG250.prj
Geometrie_Wahlkreise_19DBT_VG250.sbn
Geometrie_Wahlkreise_19DBT_VG250.sbx
Geometrie_Wahlkreise_19DBT_VG250.shp
Geometrie_Wahlkreise_19DBT_VG250.shp.xml
Geometrie_Wahlkreise_19DBT_VG250.shx
.Rproj.user
rsconnect
.Rhistory
